/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: auto;
  text-align: right;
}
.header img {
  width: 100%;
}
.more-inf {
  font-family: fantasy, cursive;
}
.main-container {
  width: 500px;
  margin: auto;
}
.task,
.task-text {
  width: 56%;
  flex-grow: 1;
}
.task-row__wrapper {
  display: flex;
}
.task-container {
  padding: 0px;
}
input,
button {
  outline:none;
}
.main-container button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.main-container button:hover {
  color: #3a3A3a;
}

/* Heading */
.name-task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0px 10px;
  margin: 0px 0px 30px;
  text-transform: uppercase;
}
.task-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task-text:focus {
  color: #333;
}

/* Task list */
.main-container li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-container input[type="checkbox"] {
  margin: 0 10px;
}
.task {
  box-sizing: border-box;
  font-size: 18px;
}
.task,
.task-text {
  width: 226px;
}
.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-container .task {
  color: #888;
}

/* Edit Task */
.task-container .task-text,
.edit-mode label {
  display: none;
}
.edit-mode .task-text {
  display: inline-block;
}

@media (max-width:768px) {

    .header {
      text-align: center;
    }

  }